@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #312e81, #6b21a8);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.75);
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}

.navbar>h1 {
  font-weight: 900;
  font-size: 20px;
}

.navbar>a {
  font-weight: 900;
}

.bottomButton {
  background-color: transparent;
  color: black;
  backdrop-filter: blur(5px);
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: 2px solid black;
}

.navbar>a:hover {
  filter: brightness(0.8);
}

.bottomButton:hover {
  filter: brightness(0.8);
}

.bottomButton:active {
  margin: -2px;
}

.divButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.canvas {
  margin: 0;
  height: 100%;
  width: 100%;
}

.songButton {
  border: solid white 1px;
  height: 40px;
  width: 60px;
  border-radius: 10px;
}

.songButton:active {
  background-color: black;
}

video {
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

#captureButton {
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 1rem 2.5rem;
  background-color: #6b46c1;
  color: white;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#captureButton:hover {
  background-color: #553c9a;
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(128, 90, 213, 0.25);
}

.textBox {
  margin: auto;
  margin-top: 20px;
  width: 500px;
  height: 200px;
  border: white solid 2px;
  background-color: white;
}